.header {
	width: 100%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
}

.navbarOne {
	background: #060f42;
	height: 40px;
	color: white;
}

.navbarOneContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.logo {
	margin-right: 5px;
}

.navList {
	display: flex;
	font-size: 10px;

	li {
		font-size: 16px;
		cursor: pointer;
		transition: opacity 0.3s ease-in-out;

		&:hover {
			opacity: 0.8;
		}
	}

	li:not(:last-child) {
		margin-right: 24px;
	}
}

.navbarTwo {
	height: 97px;
	background-color: white;
}

.navbarTwoContent {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.searchBlock {
	flex: 1;
	border: 1px solid #e6e6e6;
	background: white;
	max-width: 758px;
	height: 42px;
	display: flex;
	border-radius: 4px;
}

.searchBlockInput {
	height: 100%;
	border-radius: 4px;
	flex: 1;
	font-weight: 600;
	font-size: 16px;
	padding: 0 12px;
}

.searchBlockIcon {
	width: 48px;
	height: 100%;
	background: #01579b;
	border-radius: 0px 4px 4px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 0.3s ease-in-out;

	&:hover {
		background: #0c1c76;
	}
}

.iconList {
	display: flex;
	margin-left: 5px;

	.iconListItem:not(:last-child) {
		margin-right: 20px;
	}
	.iconListItem {
		cursor: pointer;
		position: relative;

		sub {
			width: 23px;
			height: 23px;
			position: absolute;
			top: -8px;
			left: -8px;
			background-color: #06a56c;
			padding: 3px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
		}
	}
}

.iconListWhite {
	display: none;
	img {
		cursor: pointer;
	}
}

.auth {
	cursor: pointer;
	transition: opacity 0.3s ease-in-out;

	&:hover {
		opacity: 0.8;
	}
}

.contact {
	margin-left: 16px;
	font-weight: 700;
	font-size: 18px;
}

.menuBurger {
	width: 24px;
	height: 24px;
	padding: 3px 1px;
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;

	span {
		position: absolute;
		height: 2px;
		width: 22px;
		background-color: white;
		border-radius: 2px;

		&::after,
		&::before {
			content: '';
			position: absolute;
			display: block;
			height: 2px;
			width: 22px;
			background-color: white;
			border-radius: 2px;
		}

		&::after {
			top: 6px;
		}

		&::before {
			bottom: 6px;
		}
	}
}

.logoWhite {
	display: none;
}

.searchIcon {
	display: none;
}

.phone {
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 1024px) {
	.navbarTwo {
		background-color: #060f42;
		color: white;
	}

	.logoWhite {
		display: block;
	}

	.navList {
		display: none;
	}

	.iconList {
		display: none;
	}

	.iconListWhite {
		display: block;
		margin-left: 40px;
	}

	.contact {
		display: none;
	}

	.auth {
		display: none;
	}

	.phone {
		display: block;
	}

	.navbarOne {
		padding: 20px 20px 0 20px;
	}

	.navbarTwo {
		padding: 0 20px;
	}

	.logo {
		display: none;
	}
}

.userAvatar {
	cursor: pointer;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

@media screen and (max-width: 570px) {
	.searchBlock {
		display: none;
	}

	.iconListWhite {
		margin-left: 20px;
	}

	.searchIcon {
		display: block;
	}
}
